<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:jdbc.properties</value>
        </property>
    </bean>

    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>com/jar/domain/User.hbm.xml</value>
                <value>com/jar/domain/Article.hbm.xml</value>
                <value>com/jar/domain/Comment.hbm.xml</value>
                <value>com/jar/domain/Message.hbm.xml</value>
                <value>com/jar/domain/Contact.hbm.xml</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">${show_sql}</prop>
                <prop key="hibernate.format_sql">${format_sql}</prop>
                <prop key="hibernate.use_sql_comments">${use_sql_comments}</prop>
            </props>
        </property>
    </bean>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>




    <bean id="userDao" class="com.jar.dao.impl.UserDaoImpl">
        <property name="hibernateTemplate">
            <ref bean="hibernateTemplate" />
        </property>
    </bean>

    <bean id="articleDao" class="com.jar.dao.impl.ArticleDaoImpl">
        <property name="hibernateTemplate">
            <ref bean="hibernateTemplate" />
        </property>
    </bean>

    <bean id="commentDao" class="com.jar.dao.impl.CommentDaoImpl">
        <property name="hibernateTemplate">
            <ref bean="hibernateTemplate" />
        </property>
    </bean>


    <bean id="contactDao" class="com.jar.dao.impl.ContactDaoImpl">
        <property name="hibernateTemplate">
            <ref bean="hibernateTemplate" />
        </property>
    </bean>



    <bean id="messageDao" class="com.jar.dao.impl.MessageDaoImpl">
        <property name="hibernateTemplate">
            <ref bean="hibernateTemplate" />
        </property>
    </bean>






    <bean id="userService" class="com.jar.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao" />
    </bean>

    <bean id="articleService" class="com.jar.service.impl.ArticleServiceImpl">
        <property name="articleDao" ref="articleDao" />
    </bean>

    <bean id="commentService" class="com.jar.service.impl.CommentServiceImpl">
        <property name="commentDao" ref="commentDao" />
    </bean>

    <bean id="contactService" class="com.jar.service.impl.ContactServiceImpl">
        <property name="contactDao" ref="contactDao" />
    </bean>

    <bean id="messageService" class="com.jar.service.impl.MessageServiceImpl">
        <property name="messageDao" ref="messageDao" />
    </bean>


</beans>
